h1{ color: darkseagreen;
text-decoration: underline;
text-transform:uppercase;
text-align: center;}

p{font-size: 16pt; color: darkolivegreen}

a{color: darkgreen;
	font-size: 15pt;
}
h2{color: darkseagreen;
	font-size: 16pt;}



h3 {color: forestgreen; font-size: 14pt; text-decoration: underline; text-decoration-color: lawngreen}

#Price_List li{color: seagreen; text-decoration-style: dotted; text-decoration: underline; text-decoration-color: black}


#Various_hair_services h2{font-size: 16pt;
color: darkolivegreen}
  




/* Remember to add blah blah
Try to make your webpage look less plain
Blahh Oluwadara Oyedun!*/
